<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment::head"></head>

<body>
    <nav th:replace="fragment::navbar"></nav>
    <div class="container" id="show">
        <div class="row">
            <div class="col-12 mt-auto pt-5">
                <div class="shadow p-3 mb-5 bg-body rounded justify-content-center">
                    <h1 style="text-align: center;">LISTA DE CLIENTES</h1>
                    <div th:if="${clients.isEmpty()}">
                        <h5>Aun no se cargaron cleintes por favor dirigase a <a th:href="@{/client/create}">Crear
                                cliente.</a></h5>
                    </div>
                    <div th:replace="fragment::alerts"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <table class="table col-12">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">ID</th>
                                            <th scope="col">DNI</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellido</th>
                                            <th scope="col">Telefono</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="client : ${clients}" class="text-center">
                                            <td class="col px-md-2" th:text="${client.id}"></td>
                                            <td class="col px-md-2">
                                                <span th:text="${client.dni}"></span>
                                            </td>
                                            <td class="col px-md-2">
                                                <span th:text="${client.name}"></span>
                                            </td>
                                            <td class="col px-md-2">
                                                <span th:text="${client.lastName}"></span>
                                            </td>
                                            <td class="col px-md-2">
                                                <span th:text="${client.phoneNumber}"></span>
                                            </td>
                                            <td class="col-md-4 px-md-2 d-flex justify-content-around w-100">
                                                <a class="btn btn-secondary btn-sm"
                                                    th:href="@{/client/edit/__${client.id}__}">Editar</a>
                                                <form method="post"
                                                    th:action="${client.register == true} ? @{/client/delete/__${client.id}__} : @{/client/register/__${client.id}__}">
                                                    <button class="btn btn-danger btn-sm" type="submit"
                                                        th:text="${client.register == true} ? 'Dar de baja' : 'Dar de alta'">Eliminar</button>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragment::footer-gral"></footer>
    <script th:replace="fragment::script-gral"></script>
    <script th:replace="fragment::form-js"></script>
</body>

</html>