<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/Library.css}">
    <link rel="shortcut icon" th:href="@{/img/book-icon.png}" type="image/x-icon">
    <title th:text="|eLibrary - ${title}|"></title>
</head>

<body>

    <div th:fragment="alerts">
        <div class="alert alert-danger" role="alert" th:if="${error != null}">
            <span th:text="${error}"></span>
            <button type="button" class="btn-close text-align-end" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-success" role="alert" th:if="${success != null}">
            <span th:text="${success}"></span>
            <button type="button" class="btn-close text-align-end" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" th:fragment="navbar">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/library-icon.png}" alt="icono-web"
                        class="navbar-icon"></a>
                <a href="#" id="tittle-webpage">eLibrary</a>
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
                    type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-md-0 w-100">
                        <!--DROPDOWN LIBROS-->
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                id="dropdown-books" role="button">
                                Libros
                            </a>
                            <ul aria-labelledby="dropdown-books" class="dropdown-menu dropdown-menu-dark">
                                <li>
                                    <a class="dropdown-item" th:href="@{/book}">Mostrar libros</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/book/create}" sec:authorize="hasRole('ADMIN')">Crear libro</a>
                                </li>
                            </ul>
                        </li>
                        <!--DROPDOWN AUTOR-->
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                id="dropdown-author" role="button">
                                Autor
                            </a>
                            <ul aria-labelledby="dropdown-author" class="dropdown-menu dropdown-menu-dark">
                                <li>
                                    <a class="dropdown-item" th:href="@{/author}">Mostrar autores</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/author/create}" sec:authorize="hasRole('ADMIN')">Crear autor</a>
                                </li>
                            </ul>
                        </li>
                        <!--DROPDOWN EDITORIAL-->
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                id="dropdown-publisher" role="button">
                                Editorial
                            </a>
                            <ul aria-labelledby="dropdown-publsiher" class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" th:href="@{/publisher}">Mostrar editoriales</a></li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/publisher/create}" sec:authorize="hasRole('ADMIN')">Crear editorial</a>
                                </li>
                            </ul>
                        </li>
                        <!--DROPDOWN CLIENTE-->
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                id="dropdown-client" role="button">
                                Clientes
                            </a>
                            <ul aria-labelledby="dropdown-client" class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" th:href="@{/client}">Mostrar clientes</a></li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/client/create}" sec:authorize="hasRole('ADMIN')">Crear cliente</a>
                                </li>
                            </ul>
                        </li>
                        <!--DROPDOWN PRESTAMO-->
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                id="dropdown-borrowed" role="button">
                                Prestamos
                            </a>
                            <ul aria-labelledby="dropdown-borrowed" class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" th:href="@{/borrowed}">Mostrar prestamos</a></li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/borrowed/create}" sec:authorize="hasRole('ADMIN')">Crear prestamo</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <form th:action="@{/logout}">
                              <a class="nav-link text-white" href="#" onclick="this.parentNode.submit();"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                            </form>
                        </li>
                        <li>
                            <a class="nav-link text-white">
                              <span class="text-secondary">Bienvenido: </span>
                              <span class="text-secondary" sec:authentication="name"><b>User</b></span>
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
        
    </nav>

    <footer class="footer py-3 bg-dark fixed-bottom" th:fragment="footer-gral">
        <div class="container d-flex justify-content-center">
            <span class="text-muted">&copy; Leandro Fontana - 2021</span>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"
        th:fragment="script-gral"></script>

        <script th:fragment="form-js"> 

            (function () {
                'use strict'
    
                var forms = document.querySelectorAll('.needs-validation')
    
                Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }
    
                            form.classList.add('was-validated')
                        }, false)
                    })
            })()
        </script>


</body>

</html>